{% extends "base.html" %}

{% block title %}
Predictions
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    $("input").click(function() {
      $(this).addClass("animate__animated animate__tada")
    })
  })
</script>
{% endblock %}

{% block body %}
  <h1 class="white-text">Hello {{username}}! Input your predictions.</h1>
  <form class="container content" action="{{ url_for('submitted') }}" method="POST">
    {% set filename = "images/" + countries[0] + ".png" %}
    {% set filename2 = "images/" + countries[1] + ".png" %}
    {% set name = "game" + number|string + "-1" %}
    {% set name2 = "game" + number|string + "-2" %}
    <div class="row">
      <div class="col-2 aligned-center">
        <img src="{{ url_for("static", filename=filename) }}">
      </div>
      <div class="col-2 aligned-center">
        <p>{{countries[number]}}</p>
      </div>
      <div class="col-2 aligned-center">
        <input class="no-margin" name={{name}} type="number" min="0" max="50", value="{{predictions[0]}}">
      </div>
      <div class="col-2 aligned-center">
        <input class="no-margin" name={{name2}} type="number" min="0" max="50", value="{{predictions[1]}}">
      </div>
      <div class="col-2 aligned-center">
        <p>{{countries[number+1]}}</p>
      </div>
      <div class="col-2 aligned-center">
        <img src="{{ url_for("static", filename=filename2) }}">
      </div>
    </div>
    <br>
    <div class="row">
      <button class="btn btn-primary" type="submit"><i class="fas fa-circle-check"></i>Submit</button>
    </div>
  </form>
</body>
</html>
{% endblock %}