{% extends "base.html" %}

{% block title %}
Predictions
{% endblock %}

{% block body %}
  <h1 class="white-text">Hello {{username}}! Input your predictions.</h1>
  <form class="container form" action="{{ url_for('submitted') }}" method="POST">
    {% for i in range(0, 8) %}
    <h2 class="text-center">Group {{i+1}}</h2>
      {% for j in range(0, 6) %}
        {% set filename = "images/" + countries[i*12+j] + ".png" %}
        {% set filename2 = "images/" + countries[i*12+j+1] + ".png" %}
        {% set name = "game" + j|string + "-1" %}
        {% set name2 = "game" + j|string + "-2" %}
        <h2 class="text-center">Final</h2>
        <div class="row">
          <div class="col-2 aligned-center">
            <img src="{{ url_for("static", filename=filename) }}">
          </div>
          <div class="col-2 aligned-center">
            <p>{{countries[i*12+j]}}</p>
          </div>
          <div class="col-2 aligned-center">
            <input name={{name}} type="number" min="0" max="50", value="{{predictions[0]}}">
          </div>
          <div class="col-2 aligned-center">
            <input name={{name2}} type="number" min="0" max="50", value="{{predictions[1]}}">
          </div>
          <div class="col-2 aligned-center">
            <p>{{countries[i*12+j+1]}}</p>
          </div>
          <div class="col-2 aligned-center">
            <img src="{{ url_for("static", filename=filename2) }}">
          </div>
        </div>
        <hr>
      {% endfor %}
    {% endfor %}

    <div class="row">
      <button class="btn btn-primary" type="submit"><i class="fas fa-circle-check"></i>Submit</button>
    </div>
  </form>
</body>
</html>
{% endblock %}