{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block script %}
<script>
  let isMobile = Math.min(window.screen.width, window.screen.height) < 768 || navigator.userAgent.indexOf("Mobi") > -1;
  if (isMobile) {
  alert("I highly recommend you view this website on PC as it looks much better, however it should still work on mobile if necessary.  Thanks, Joseph :)")  
}
  $(document).ready(function() {
    $(".btn-block").addClass("animate__animated animate__bounce")
  })
</script>
{% endblock %}

{% block body %}
<h1>Welcome to Joseph's World Cup predictor!</h1>
<div id="homepage-buttons" class="container content">
  <div class="row justify-content-sm-center">
    <div class="col-6 aligned-center">
      <a href="{{ url_for('login') }}"><button class="btn btn-block btn-primary">Login</button></a>
    </div>
    <div class="col-6 aligned-center">
      <a href="{{ url_for('signup') }}"><button class="btn btn-block btn-primary">Sign Up</button></a>
  </div>
  <div>
    <p class="text-warning">{{error}}</p>
  </div>
  <img id="cinematic-image" src="{{url_for("static", filename="flags/cinematic footballer.jpg")}}" alt="cinematic footballer">
</div>
{% endblock %}