{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  $('#button').prop('disabled', true);
  $('input').keyup(function() {
     if($('#email').val() != '' && $('#password').val() != '' && $('#confirm-password').val() != '') {
        $('button').prop('disabled', false);
     }
  });
});
</script>
{% endblock %}

{% block body %}
<h1>Sign up</h1>
<form class="container content" action="{{ url_for('signup') }}" method="POST">
  <div class="row">
    <input id="email" name="email" type="email" placeholder="Email (use school email if you are a Haybridge student)">
  </div>
  <div class="row">
    <input id="password" name="password" type="password" placeholder="Password">
  </div>
  <div class="row">
    <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password">
  </div>
  <div class="row">
    <p class="text-warning">{{error}}</p>
  </div>
  <div class="row">
    <button id="button" class="btn btn-block btn-primary" type="submit"><i class="fas fa-arrow-right-to-bracket"></i>Sign Up</button>
  </div>
</form>
{% endblock %}