{% extends "base.html" %}

{% block body %}
<h1 class="white-text">You have submitted your predictions</h1>
<div class="content container-fluid half-width">
  <div class="row">
    <div class="col-6 aligned-center">
      <button class="btn btn-block btn-primary"><a class="blank-link" href="{{ url_for('submitted') }}">Change Predictions</a></button>
    </div>
    <div class="col-6 aligned-center">
      <button class="btn btn-warning"><a class="blank-link text-dark" href="{{ url_for('leaderboard') }}">Leaderboard</a></button>
    </div>
  </div>
</div>
{% endblock %}}